# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\nadav ashkenazi\OneDrive - Technion\Technion\semester_6\OOP\hw\hw4\opp_hw4_2\chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
